.cardGreenColor {
  background-color: rgba(75, 192, 192, 0.2);
  border-color: rgba(75, 192, 192, 1);
}

.cardRedColor {
  background-color: rgba(255, 99, 132, 0.2);
  border-color: rgba(255, 99, 132, 1);
}

.cardYellowColor {
  background-color: rgba(255, 206, 86, 0.2);
  border-color: rgba(255, 206, 86, 1);
}

.cardBlueColor {
  background-color: rgba(54, 162, 235, 0.2);
  border-color: rgba(54, 162, 235, 1);
}
.carousel {

height:350px;
width: 100%;

}

.carousel-item img {

height:350px;
width: 100%;

object-fit: contain;

}
.navbar .nav-item .nav-link{
        color: #808080;
}
.navbar .nav-item:focus .nav-link,
.navbar .nav-item:hover .nav-link {
        color: #000000;
}
.carousel-indicators li,.carousel-control-prev-icon,
.carousel-control-next-icon {
    
    background-color: #808080;

}
.carousel-indicators .active {
    
    background-color: #000000;
}



.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
  color:#808080;
}

/* A link that has not been visited */
a:link {
    color: #808080;
}

/* A link that has been visited */
a:visited {
    color: #808080;
}

/* A link that is hovered on */
a:hover {
    color: #808080;
}

/* A link that is selected */
a:active {
    color: #808080;
}
/**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
.StripeElement {
  box-sizing: border-box;

  height: 40px;

  padding: 10px 12px;

  border: 1px solid #000000;
  border-radius: 4px;
  width:500px;
  background-color: #ffffff;

  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}
